@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 02 24% 9%;

    --card: 210 33% 99%;
    --card-foreground: 202 24% 9%;
 
    --popover: 210 17% 90%;
    --popover-foreground: 02 24% 9%;
 
    --primary: 210 17% 86%;
    --primary-foreground: 205 6% 58% ;
 
    --secondary: 225 14% 95%;
    --secondary-foreground: 205 6% 58%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 152 47% 41%;
    --accent-foreground: 0 0% 91%;
    --accent-pr: 152 47% 41%;
  
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%; 

    --border: 02 24% 9%;
    --input: 0 0% 20%;
    --ring: 0 0% 20%; 
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 91%;

    --card: 0 0% 13.9%;
    --card-foreground: 0 0% 91%;
 
    --popover: 0 0% 14%;
    --popover-foreground: 0 0% 91%;
 
    --primary: 0 0% 14%;
    --primary-foreground: 0 0% 65%;
 
    --secondary: 0 0% 17%;
    --secondary-foreground: 0 0% 20%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 0 0% 17%;
    --accent-foreground: 0 0% 91%;
    --accent-pr: 152 47% 41%;
  
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring:0 0% 20%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}